<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
    <a class="navbar-brand" th:href="@{/login}" style="color: rgba(217,5,54,0.84)">Jane's Time Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<form class="mt-4" th:action="@{/taskPage}" th:object="${task}" method="post">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Task Name</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="taskname" th:field="*{title}" required>
    </div>

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" th:field="*{description}" required></textarea>
    </div>

    <div class="col-md-6 form-group">
        <label>Created At</label>
        <input type="date" th:field="*{createdDate}"/>
        <input type="time" th:field="*{createdTime}"/>
    </div>

    <div class="col-md-6">
            <button class="btn btn-success">Add</button>
    </div>
</form>
</body>
</html>